.Catcontainer {
  /* height: calc(90vh - 80px); */
  height: auto;
  background-color: #1b1919;
}
.catagoriesBar {
  color: lavender;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.catagoriesBar .contItem a {
  font-size: 1.3rem;
}
.catagoriesBar .contItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1b1919;
  width: 100%;
  height: 80px;
  border: solid 1.5px rgb(88, 88, 88);
  padding: 0px 2%;
  font-size: 2rem;
}
.catagoriesBar :last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* position: relative;
  margin-left: 70%; */
}
input {
  height: 38px;
  outline: none;
  border: none;
  padding-left: 5px;
}
.popCatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.catNav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* padding: 60px 30px; */
  padding-bottom: 30px;
}
.div2 {
  display: flex;
}
.catGallary {
  /* padding: 0px 20px; */

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  flex-wrap: wrap;
}
.catagoriesBar .contItem a {
  color: beige;
}

.catGallaryShow {
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
  height: 720px;
  transition: height ease 0.5s;
}
.parent {
  overflow: hidden;
  transition: height ease 0.5s;
}
@media only screen and (max-width: 768px) {
  .popCatContainer {
    padding: 10px;
  }
  .catagoriesBar .contItem {
    height: 60px;
  }
  .catagoriesBar .contItem a {
    font-size: 1.5rem;
  }
  .popCatContainer {
    padding: 50px 10px;
  }
}
@media only screen and (max-width: 480px) {
  .catagoriesBar .contItem:last-child {
    width: 100%;
    justify-content: flex-end;
  }
  .catagoriesBar .contItem {
    width: 50%;
  }
  input {
    width: 100%;
  }
  .catagoriesBar {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 360px) {
  .catagoriesBar .contItem a {
    font-size: 12px;
  }
  .Catcontainer {
    padding: 20px 0px;
  }
}
