@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-recipe:before { content: "\f100"; }
.flaticon-002-timer:before { content: "\f101"; }
.flaticon-003-cheese-grater:before { content: "\f102"; }
.flaticon-004-pancake:before { content: "\f103"; }
.flaticon-005-cooking-stove:before { content: "\f104"; }
.flaticon-006-soup:before { content: "\f105"; }
.flaticon-007-fried-egg:before { content: "\f106"; }
.flaticon-008-fridge:before { content: "\f107"; }
.flaticon-009-egg:before { content: "\f108"; }
.flaticon-010-pepper:before { content: "\f109"; }
.flaticon-011-cooking-tools:before { content: "\f10a"; }
.flaticon-012-roast-chicken:before { content: "\f10b"; }
.flaticon-013-olive-oil:before { content: "\f10c"; }
.flaticon-014-mustard:before { content: "\f10d"; }
.flaticon-015-cookies:before { content: "\f10e"; }
.flaticon-016-recipe-book:before { content: "\f10f"; }
.flaticon-017-water-bottle:before { content: "\f110"; }
.flaticon-018-sift:before { content: "\f111"; }
.flaticon-019-pot:before { content: "\f112"; }
.flaticon-020-pancakes:before { content: "\f113"; }
.flaticon-021-blender:before { content: "\f114"; }
.flaticon-022-frying-pan:before { content: "\f115"; }
.flaticon-023-milk:before { content: "\f116"; }
.flaticon-024-frying-pan:before { content: "\f117"; }
.flaticon-025-bread:before { content: "\f118"; }
.flaticon-026-cutting-board:before { content: "\f119"; }
.flaticon-027-lemon-squeezer:before { content: "\f11a"; }
.flaticon-028-apron:before { content: "\f11b"; }
.flaticon-029-sausages:before { content: "\f11c"; }
.flaticon-030-cooking-pot:before { content: "\f11d"; }
.flaticon-031-bowl:before { content: "\f11e"; }
.flaticon-032-egg:before { content: "\f11f"; }
.flaticon-033-kitchen-scale:before { content: "\f120"; }
.flaticon-034-clean-dishes:before { content: "\f121"; }
.flaticon-035-steak:before { content: "\f122"; }
.flaticon-036-cake:before { content: "\f123"; }
.flaticon-037-mixing:before { content: "\f124"; }
.flaticon-038-cutting:before { content: "\f125"; }
.flaticon-039-cooking-pot:before { content: "\f126"; }
.flaticon-040-toaster:before { content: "\f127"; }
.flaticon-041-oven:before { content: "\f128"; }
.flaticon-042-pot:before { content: "\f129"; }
.flaticon-043-mixer:before { content: "\f12a"; }
.flaticon-044-cutting-board:before { content: "\f12b"; }
.flaticon-045-oil:before { content: "\f12c"; }
.flaticon-046-noodles:before { content: "\f12d"; }
.flaticon-047-flat-bread:before { content: "\f12e"; }
.flaticon-048-cutting-board:before { content: "\f12f"; }
.flaticon-049-chef-hat:before { content: "\f130"; }
.flaticon-050-rolling-pin:before { content: "\f131"; }

$font-Flaticon-001-recipe: "\f100";
$font-Flaticon-002-timer: "\f101";
$font-Flaticon-003-cheese-grater: "\f102";
$font-Flaticon-004-pancake: "\f103";
$font-Flaticon-005-cooking-stove: "\f104";
$font-Flaticon-006-soup: "\f105";
$font-Flaticon-007-fried-egg: "\f106";
$font-Flaticon-008-fridge: "\f107";
$font-Flaticon-009-egg: "\f108";
$font-Flaticon-010-pepper: "\f109";
$font-Flaticon-011-cooking-tools: "\f10a";
$font-Flaticon-012-roast-chicken: "\f10b";
$font-Flaticon-013-olive-oil: "\f10c";
$font-Flaticon-014-mustard: "\f10d";
$font-Flaticon-015-cookies: "\f10e";
$font-Flaticon-016-recipe-book: "\f10f";
$font-Flaticon-017-water-bottle: "\f110";
$font-Flaticon-018-sift: "\f111";
$font-Flaticon-019-pot: "\f112";
$font-Flaticon-020-pancakes: "\f113";
$font-Flaticon-021-blender: "\f114";
$font-Flaticon-022-frying-pan: "\f115";
$font-Flaticon-023-milk: "\f116";
$font-Flaticon-024-frying-pan: "\f117";
$font-Flaticon-025-bread: "\f118";
$font-Flaticon-026-cutting-board: "\f119";
$font-Flaticon-027-lemon-squeezer: "\f11a";
$font-Flaticon-028-apron: "\f11b";
$font-Flaticon-029-sausages: "\f11c";
$font-Flaticon-030-cooking-pot: "\f11d";
$font-Flaticon-031-bowl: "\f11e";
$font-Flaticon-032-egg: "\f11f";
$font-Flaticon-033-kitchen-scale: "\f120";
$font-Flaticon-034-clean-dishes: "\f121";
$font-Flaticon-035-steak: "\f122";
$font-Flaticon-036-cake: "\f123";
$font-Flaticon-037-mixing: "\f124";
$font-Flaticon-038-cutting: "\f125";
$font-Flaticon-039-cooking-pot: "\f126";
$font-Flaticon-040-toaster: "\f127";
$font-Flaticon-041-oven: "\f128";
$font-Flaticon-042-pot: "\f129";
$font-Flaticon-043-mixer: "\f12a";
$font-Flaticon-044-cutting-board: "\f12b";
$font-Flaticon-045-oil: "\f12c";
$font-Flaticon-046-noodles: "\f12d";
$font-Flaticon-047-flat-bread: "\f12e";
$font-Flaticon-048-cutting-board: "\f12f";
$font-Flaticon-049-chef-hat: "\f130";
$font-Flaticon-050-rolling-pin: "\f131";